.rec.rec-arrow {
  background-color: #525252;
  color:white;
}

.rec.rec-arrow-right:disabled {
  opacity: 0.4;
}

.rec.rec-arrow-right:disabled:hover {
  background-color: #525252 !important;
}

.rec.rec-arrow-left:disabled:hover {
  background-color: #525252 !important;
}

.rec.rec-arrow-left:disabled {
  opacity: 0.4;
}

.rec.rec-arrow:hover {
  background-color: #11ABB0 !important;
}

.rec.rec-arrow:focus {
  background-color: #11ABB0 !important;
}

.rec.rec-arrow:focus:active {
  background-color: #525252 !important;
}

.rec.rec-dot.rec-dot_active {
  background-color: #11ABB0 !important;
  box-shadow: 0 0 1px 2px #525252 !important;
}

.rec.rec-dot.rec-dot_active:hover {
}

.github-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  border: black;
}